:root {
    /* Fuentes */
    --fuente-titulo-general: 20px Arial, sans-serif;
    --fuente-titulo-categoria: bolder 20px  Arial, sans-serif;
    --fuente-p-categoria: 16px Arial, sans-serif;

    /* Colores fondo */
    --bg-cabecera: rgb(37, 82, 123);
    --bg-central: rgb(231, 231, 231);
    --bg-footer: #FFF;
    --bg-producto: #FFF;
    --bg-boton-producto: rgb(37, 82, 123);
    --bg-boton-producto-hover: rgb(54, 91, 125);

    /* Colores objeto (letra) */
    --text-white: #FFF;
    --text-black: #000;
    --text-gray: #808080;

}

/* GRID container */
.container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-areas:    "cabecera cabecera cabecera"
                            "categorias grilla grilla"
                            "pie pie pie";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 2fr 30fr 1fr ;
}

/* header */
header {
    display: flex;
    grid-area: cabecera;
    background-color: var(--bg-cabecera);
    justify-content: center;
    align-items: center;
    font: var(--fuente-titulo-general);
    color: var(--text-white);
}

/* aside */
aside {
    display: flex;
    grid-area: categorias;
    background-color: var(--bg-central);
    flex-direction: column;
}

aside p {
    margin-block-start: 0;
    margin-block-end: 0.5rem;
    margin-left: 0.5rem;
    font: var(--fuente-p-categoria);
    color: var(--text-black);
}

aside h2 {
    margin-left: 0.5rem;
    font: var(--fuente-titulo-categoria);
    color: var(--text-black);
}

.unidad {
    color: var(--text-gray);
}

/* main */
main {
    grid-area: grilla;
    background-color: var(--bg-central);
    width: 100%;
}

.grilla-productos {
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 469px);
    grid-gap: 1rem;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 550px ;
}

.img-producto {
    height: 511px;
    width: 469px;
}

article img {
    max-width: 100%;
    height: auto;
}

article h2 {
    margin-block-start: 0;
    margin-block-end: 0;
}

article p {
    margin-block-start: 0;
    margin-block-end: 0;
}

article button {
    border: none;
    background-color: var(--bg-boton-producto);
    color: var(--text-white);
    width: 100%;
    height: 10%;
    margin-top: 1rem;
}

article:hover{
    box-shadow: 0 0 10px var(--bg-boton-producto);
}

article:hover img{
    transform: scale(0.5);
}

article button:hover {
    background-color: var(--bg-boton-producto-hover);
}

.producto {
    background-color: var(--bg-producto);
}

/* footer */
footer {
    display: flex;
    grid-area: pie;
    background-color: var(--bg-footer);
    justify-content: center;
    align-items: center;
}